<div class="column alert alert-danger">

  <div class="col-xs-12 c">
    <img src={Routes.static_path(@conn, "/images/phoenix.png")} alt="Phoenix Framework Logo"/>
  </div>
  <div class="col-xs-12">
    
  </div>
</div>