<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Firstapp", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <style>
      a, a:link, a:visited {
  color: #FFFAFA;
  text-decoration: none;
  font-size:12px;
}
      </style>
  </head>
  <body>
    <header  style="background-color: #404040;border-bottom:red">
      <section class="container" style="background-color: #404040;">
        <div class="col-md-10">
          <span style="margin-left:20px;"><%= link("Home",to: "/test/shuja",class: "nocolor") %></span>
          <span style="margin-left:20px"><%= link("Api Page",to: "/api") %></span>
          <span style="margin-left:20px"><%= link("Api Page",to: "/api") %></span>
        </div>
        <div class="col-md-2 md-top-10">
            <h2 style="margin-top:25px;">Logo</h2>
        </div>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
